doctype html
html
	include _partials/_head.pug
	body
		main
			include _partials/_header.pug
			include _partials/_biografia.pug
			include _partials/_skills.pug
			include _partials/_contato.pug
			include _partials/_footer.pug