section
    img(src = './assets/img/Teste1.jpg')
    h2
      |Sobre
    h3
      |Quem sou eu?
    p.teste1
      |Me chamo Lucas Gabriel, tenho 18 anos, sou estudante de Análise e Desenvolvimento de Sistemas e também autoditada no tema Gamification. Sou uma pessoa apaixonada por jogos, música, tecnologia e programação.
    h3
      |O que eu faço?
    p
      |Atuo no desenvolvimento Front-End, mas no momento não estou ligado a nenhuma startup ou organização. Para contribuir e ir afundo na ideia Gamification estou desenvolvendo dois projetos para ensinar lógica de programação, sendo um deles para kinect e o outro web.
    h3
      |Tempo Livre
    p
      |Em meu tempo livre gosto muito de jogar, estudar e até mesmo dormir.
    h3
      |Games
    p
      |Sou super fã de Harvest Moon, Final Fantasy, Pokemon, Zelda, League of Legends, Counter Strike, Tibia e World of Warcraft. Sou também admirador do cenário e-Sports.